.homePage .place {
    float: left;
    width: 50%;
    padding-bottom: 3em
}

.homePage .place:nth-child(3n) {
    clear: both;
}

.homePage .googleMap {
    clear: both;
}

@supports (grid-area: auto) {

    @media (min-width: 600px) {

        .placePage .text {
            -moz-column-count: 22;
            -webkit-column-count: 4;
            column-count: 4;
        }

        /*Remove float styling*/
        .homePage .place {
            float: none;
            width: auto;
            padding-bottom: 3em;
        }

        .homePage .place:nth-child(3n) {
            clear: none;
        }
        .homePage .content {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 10px;
            grid-template-areas: "hero hero" "title title" "text places" "map places";

        }
        /*Assign grid template area to elements*/
        .homePage .hero {
            grid-area: hero;
        }
        .homePage .title {
            grid-area: title;
        }
        .homePage .text {
            grid-area: text;
        }
        .homePage .places {
            grid-area: places;

        }
        .homePage .googleMap {
            grid-area: map;

        }
    }

    @media (min-width: 900px) {
        .homePage .content {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-areas: "hero hero hero" "title title title" "text map map" "places places places";
        }

        /* places sub grid*/
        .places {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 10px;

        }

        .placePage .text {
            -moz-column-count: 4;
            -webkit-column-count: 4;
            column-count: 4;
        }
    }


        @media (min-width: 1200px) {
            .homePage .content {
                display: grid grid-template-columns: 1fr 1fr 1fr 1fr;
                grid-template-areas: "hero hero hero hero" "title title title title" "text places" "map places";

            }


            .homePage .hero {
                grid-area: hero;
            }

            .homePage .title {
                grid-area: title;
            }

            .homePage .text {
                grid-area: text;
            }

            .homePage .places {
                grid-area: places;
            }

            .homePage .googleMap {
                grid-area: map;
            }

            .homePage .place {
                float: none;
                width: auto;
                padding-bottom: 3em;
            }
        }




    }
    /*end @supports*/
