.hero image {
    align-content: center;
    margin: auto;
}

.title {
    text-align: center;
    color: crimson;
    font-family: serif;
    font-style: italic;
}

.text p {
    font-family: sans-serif;
    font-size: 14pt;
    font-style: oblique;
    font-weight: 400;
    line-height: 1.5;
    color: #333;

}

.logo {
    text-align: center;
    border: 1px solid black;
    background-color: blanchedalmond;
    border: 3px solid grey;
    padding: 15px;
}

/*=============== Base NAV Style ==========*/

.nav {
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
    font-size: 12pt;
    line-height: 1;
    margin: 1.5em 0 0.25em 0;

}

.nav li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

.nav li a:hover:not(.active) {
    background-color: #555;
    color: white;
}

.menu {
    background-color: #555;
    padding: 10px;
    color: white;
    text-align: center;
}

.menu a {
    color: white;
    text-decoration: none;


}

.menu a:hover {
    color: bisque;
}

@media(min-width: 620px) {
    /*    remove menu button*/
    .menu {
        display: none;
    }
    /*      display nav as horizontal, left align*/
    .nav li {
        display: block;
        text-align: left;
    }
    .nav li {
        display: inline-block;
    }
}

/*end of media@ for nav */

.homePage {
    background-color: beige;

}

/* Basic Responsive Images and Video */

/* This is to have a retainer for you vids and imgs */

img,
video {
    width: auto;
    height: auto;
    max-width: 100%;
}

/* for descriptions */

.description {
    border-style: groove;
    border-width: 5px;
    width: 75%;

}

/*this*/

.googleMap {
    position: relative;
    height: 0;
    padding-bottom: 75%;
}

.googleMap iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.footer {
    text-align: center;
    border: 1px solid black;
    background-color: blanchedalmond;
    border: 3px solid grey;
    padding: 15px;
}
